@import url("../../css/reset.css");

*{
    box-sizing: border-box;
}

/* 整體 */
body{
    line-height: 1.2;
    color: #A39572;
}
.header ul li:nth-child(2) a{
    color:orangered;
}

/* 上方 */
.top img{
    height: calc(100vh - 146px);
    width: 100%;
    object-fit: cover; 
    object-position: 50% 50%;
    display: block;
}

/* 中央 */
.middle{
    text-align: center;
    margin: 12px 0 16px;
}
h2{
    font-weight: bold;
    font-size: 48px;
}
/* 課程簡介 */
.bottom {
    text-align: center;  
}
.bottom-block{
    display: flex;   
}
.bottom-pic{
    width: 50%;
    opacity: 60%;
}
.bottom-text{
    width: 50%;
    margin: auto;
}
.bottom h4{
    font-weight: bold;
    font-size: 36px;
}
.bottom h5{
    font-size: 24px;
}
.bottom-pic:hover{
    opacity: 100%;
}

.bottom img{
    overflow: hidden;
    height: 250px;
    width: 100%;
    object-fit: cover; 
    object-position: 50% 50%;
    display: block;
}

/* RWD */
@media screen and (max-width: 767.98px){
.bottom-block{
    display: flex;  
    flex-direction: column;
    }
.bottom-pic{
    width: 100%;
    opacity: 50%;
        }
.bottom-text{
    width: 100%;
    margin: auto;
    }
.bottom-t-1{
    order:2 ;
    }
.bottom-t-2{
    order:1 ;
    }
    }

