 @import url("./css/reset.css");

*{
    box-sizing: border-box;
}

/* 中央大圖 */
.container
{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.next-btn{
    position: absolute;
    right: 3%;
    top: 50%;
    font-size:30px;
    z-index: 3;
    color: white;
}
.prev-btn{
    position: absolute;
    left: 3%;
    top: 50%;
    font-size:30px;
    color: white;
    z-index: 3;
}
.top-main{
    width: 300%;
    height: calc(100vh - 60px);
    display: flex;
} 

.top-main.-index-0{
    transform: translateX(0%);
}

.top-main.-index-1{
    transform: translateX(calc( 100% / -3 ));
}

.top-main.-index-2{
    transform: translateX(calc(( 100% / -3 ) * 2));
}
.top-main-1{
    width: 100%;
    height: calc(100vh - 60px);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
    background-image:url(./assets/index-pic/top-1.jpg);
}
.top-main-2{
    width: 100%;
    height: calc(100vh - 60px);
    background-size: cover;
    background-position: 5% center;
    overflow: hidden;
    position: relative;
    background-image:url(./assets/index-pic/top-2.jpg);
}
.top-main-3{
    width: 100%;
    height: calc(100vh - 60px);
    background-size: cover;
    background-position: 15% center;
    overflow: hidden;
    position: relative;
    background-image:url(./assets/index-pic/top-3.jpg);
}
h2{
    position: absolute;
    text-align: center;
    font-size: 3em;
    color: white;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-main-2 h2{
    color: rgb(255, 0, 0)
}
/* }blanchedalmond; */
.top-main-3 h2{
    color: black;
}

/* 下方選單 */

.bottom-1 {
    display: flex;
    width: 100%;
}
.bottom-1>li {
    width: 20%;
    height: 288px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}
.bottom-1>li::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}
.bottom-1>li:hover::before {
    background-color: rgba(0, 0, 0, 0);
}
.bottom-1-1 {
    background-image: url(./assets/index-pic/bottom-1.jpg);
}
.bottom-1-2 {
    background-image: url(./assets/index-pic/bottom-2.jpg);
}
.bottom-1-3 {
    background-image: url(./assets/index-pic/bottom-3.jpg);
}
.bottom-1-4 {
    background-image: url(./assets/index-pic/bottom-4.jpg);
}
.bottom-1-5 {
    background-image: url(./assets/index-pic/bottom-5.jpg);
}
.bottom-1>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    z-index: 100;
}

/* RWD */
@media screen and (max-width: 575.98px){
    .bottom-1 a{
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
}
