@import url("./css/reset.css");

*{
    box-sizing: border-box;
}

/* 整體 */
body{
    font-family: 'Noto Serif TC',Serif, Arial, Verdana;
    background-color: #000;
    }
a{
    color: #A39572;
    text-decoration: none;    
    }
    
/*  主選單  */

.header{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #262626;
}
.header img{
    width: 100%;
    height: 40px;
    line-height: 60px;
    margin-left: 20px;
}
.header ul{
    display: flex;
    margin-left: auto; 
    width: 600px;
}
.header li{
    color: #A39572;
    flex-grow: 1;

}
.header li a{
    display: inline;  
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    font-size: 18px;
}
.header li a:hover{
    color:orangered;
}

/* 中央大圖 */
.top{
    background-image:url(./assets/index-pic/top-1.jpg);
    width: 100%;
    height: 1080px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
h2{
    line-height:1000px;
    text-align: center;
    font-size: 3em;
    color: white;
    font-weight: bold;

}

/* 下方選單 */

.bottom-1 {
    display: flex;
    width: 100%;
}

.bottom-1>li {
    width: 20%;
    height: 288px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.bottom-1>li::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}

.bottom-1>li:hover::before {
    background-color: rgba(0, 0, 0, 0);
}

.bottom-1-1 {
    background-image: url('./assets/index-pic/bottom-1.jpg');
}

.bottom-1-2 {
    background-image: url('./assets/index-pic/bottom-2.jpg');
}

.bottom-1-3 {
    background-image: url('./assets/index-pic/bottom-3.jpg');
}

.bottom-1-4 {
    background-image: url('./assets/index-pic/bottom-4.jpg');
}

.bottom-1-5 {
    background-image: url('./assets/index-pic/bottom-5.jpg');
}

.bottom-1>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    z-index: 100;
}








/* 頁尾 */

.footer{
    height: 60px;   
    background-color: #262626;
}

.footer img{
    height: 24px;
    width: 24px;
    filter:contrast(0%);
    vertical-align:text-bottom;
}
.footer img:hover{
    filter:contrast(30%);
}
.footer ul{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.footer li{ 
    padding: 0 12px;
}
.footer li a{
    line-height: 60px;
    font-weight: bold;
    font-size: 18px;  
} 
.footer-1{
    font-size: 12px;
    text-align: center;
    color: #A39572;
    background-color: #262626;
    padding-bottom: 10px;
}