@import url("../../css/reset.css");

*{
    box-sizing: border-box;
}
/* 整體 */
body{
    font-family: 'Noto Serif TC',Serif, Arial, Verdana;
    background-color: #000;
    line-height: 1.2;
    color: #A39572;
    }
a{
    color: #A39572;
    text-decoration: none;    
    }

/*  主選單  */
.header{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #262626;
}
.header img{
    width: 100px;
    height: 40px;
    line-height: 60px;
    margin-left: 20px;
}
.header ul{
    display: flex;
    margin-left: auto; 
    width: 600px;
}
.header li{
    color: #A39572;
    flex-grow: 1;
}
.header li a{
    display: inline;  
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    font-size: 18px;
}
.header li a:hover{
    color:orangered;
}
.header ul li:nth-child(4) a{
    color:orangered;
}
.burger_btn {
    display: none;
}
.burger_list{
    width: 100px;
    background-color: white;
    display: block;
    border: 1px solid rgb(163, 163, 163);
}
/* 上方 */

.top{
    text-align: left;
    margin-top: 25px;
    margin-left: 50px;
}
h2{
    font-weight: bold;
    font-size: 48px;
}

/* 攝影展示 */
.bottom{
    margin:30px;
    column-count: 3;
    column-gap: 10px;
}
.item{
    margin-bottom: 10px;
}
.bottom img{
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 60%;
}
.bottom img:hover{
    opacity: 100%;
}

/* 頁尾 */

.footer{
    height: 60px;  
    background-color: #262626; 
}

.footer img{
    height: 24px;
    width: 24px;
    filter:contrast(0%);
    vertical-align:text-bottom;
}
.footer img:hover{
    filter:contrast(30%);
}
.footer ul{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.footer li{ 
    padding: 0 12px; 
}
.footer li a{
    line-height: 60px;
    font-weight: bold;
    font-size: 18px;  
} 
.footer-1{
    font-size: 12px;
    text-align: center;
    color: #A39572;
    background-color: #262626;
    padding-bottom: 10px;
}
/* RWD */
@media screen and (max-width: 767.98px){
    .bottom{
        column-count: 1;
    }
    .header ul li{
        display: none;
        z-index: 100;
        transition: 2.3s;
        background: #262626;
            }
    .header1{  
        position: absolute;
        top:58px;
        right: 0px;
        padding:0px 20px;
    }
    .header2{
        position: absolute;
        top:118px;
        right: 0px;
        padding:0px 20px;
    }
    .header3{
        position: absolute;
        top:178px;
        right: 0px;
        padding:0px 20px;
    }
    .header4{
        position: absolute;
        top:238px;
        right: 0px;
        padding:0px 20px;
    }
    .header5{
        position: absolute;
        top:298px;
        right: 0px;
        padding:0px 20px;
    }
    .burger_btn {
        display: block;
        margin-right: 40px;
            }
    .header.-on ul li{
        display: block;
    
    }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px){
    .bottom{
        column-count: 2;
    }
    }