@import url("../../css/reset.css");

*{
    box-sizing: border-box;
}
/* 整體 */
body{
    line-height: 1.2;
    color: #A39572;
    }
.header ul li:nth-child(4) a{
    color:orangered;
}

/* 上方 */

.top{
    text-align: left;
    margin-top: 25px;
    margin-left: 50px;
}
h2{
    font-weight: bold;
    font-size: 48px;
}

/* 攝影展示 */
.bottom{
    margin:30px;
    column-count: 3;
    column-gap: 10px;
}
.item{
    margin-bottom: 10px;
}
.bottom img{
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 60%;
}
.bottom img:hover{
    opacity: 100%;
}

/* RWD */
@media screen and (max-width: 767.98px){
    .bottom{
        column-count: 1;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px){
    .bottom{
        column-count: 2;
    }
    }