@import url("../../css/reset.css");

*{
    box-sizing: border-box;
}

/* 整體 */
body{
    line-height: 1.2;
    color: #A39572;
    }

.header ul li:first-child a{
    color:orange;
}

/* 上方 */
.top img{
    height: calc(100vh - 144px);
    width: 100%;
    object-fit: cover; 
    object-position: 50% 0%;
    display: block;
}

/* 中央理念 */
.middle{
    text-align: center;
}
h2{
    font-weight: bold;
    font-size: 48px;
    margin: 12px 0;
}
h3{
    font-size:24px;
    margin-bottom: 12px;
}

/* 老師簡介 */
.bottom {
    text-align: center;  
}
.bottom-block{
    display: flex;   
}
.bottom-pic{
    width: 50%;
}
.bottom-text{
    width: 50%;
    margin: auto;
}
.bottom h4{
    font-weight: bold;
    font-size: 36px;
}
.bottom h5{
    font-size: 24px;
}
.teacher:hover{
    opacity: 100%;
}
.teacher{
    overflow: hidden;
    height: 300px;
    width: 100%;
    object-fit: cover; 
    object-position: 50% 30%;
    display: block;
    opacity: 70%;
}
.block{
    background-color: #262626;
    z-index: -1;
    width: 100%;
    height: 300px;
    position:absolute;
    right: 0px;
    bottom: 0px;
}
.bottom-text-cans img{
    width: 100px;
    margin-top: 50px;
}
.bottom-block.run .bottom-text-cans .ca{
    display: none;
}
.bottom-cat{
    position:relative;
}
.bottom .bottom-cat-1{
    position:absolute;
    right: 0px;
    bottom: 15px;
    height: 100px;
    width: auto;
    z-index: -2;
    transition: 1s;
    opacity: 0%;
}
.bottom-pic:hover .bottom-cat-1{
    right: -25%;
    transform: rotate(0deg);
    transform-origin: 0%;
    animation: bottom-cat-1 0.7s linear infinite;
    opacity: 100%;
}
@keyframes bottom-cat-1{
0%{
	transform: rotate(-5deg);
}
50%{
	transform: rotate(5deg);
}
100%{
	transform: rotate(-5deg);
}
}


/* RWD */
@media screen and (max-width: 575.98px){
h3{
    font-size:14px;
    }
}
@media screen and (max-width: 767.98px){ 
h3{
    font-size:20px;
    }
.bottom-block{
    display: flex;  
    flex-direction: column;
    }
.bottom-pic{
    width: 100%;
    opacity: 80%;
    }
.bottom-text{
    width: 100%;
    margin: auto;
}
.bottom-t-1{
    order:2 ;
}
.bottom-t-2{
    order:1 ;
}
.bottom-pic:hover .bottom-cat-1{
    right: 0%;
    transform: none;
    transform-origin: none;
    animation: none;
}
.bottom-text-cans img{
    margin-top: 20px;
}
.ca{
    display: none;
}
}