@import url("../../css/reset.css");

*{
    box-sizing: border-box;
}

/* 整體 */
html {
    height:100vh;
    margin: 0;
}
body{
    line-height: 1.2;
    color: #A39572;
    height:100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    }

/* 上方 */
.top{
    text-align: center;
    margin: 25px;
}
h2{
    font-weight: bold;
    font-size: 48px;
}

/* 攝影行程詳細 */
.bottom {
    text-align: center;  
    display: flex; 
    margin: 20px 50px;
    flex-grow: 1;
}
.bottom-pic{
    width: 50%;
    opacity: 100%;
    padding: 0 20px;
}
.bottom-pic-1{
    display: flex;
    cursor: pointer;
}
.bottom-pic-1 li{
    width: 25%;
    margin-top: 20px;
    margin-right: 10px;
}
.bottom-pic-1 li:last-child{
    margin-right: 0px;
}
.bottom-pic-1 li img{
    height: 100px;
    opacity: 60%;
    object-fit: cover;
}
.bottom-pic-1 li img:hover{
    opacity: 100%;
}
.bottom-center-text{
    width: 50%;
    margin: 20px auto;
    text-align: left;
    padding: 0 20px;
}
.bottom img{
    overflow: hidden;
    height: 400px;
    width: 100%;
    object-fit: cover; 
    object-position: 50% 50%;
}
h4{
    font-size: 24px;
    font-weight: bold;
}
h5{
    font-size: 16px;
}

/* RWD */
@media screen and (max-width: 767.98px){
    .header ul li{
        display: none;
        z-index: 100;
        transition: 2.3s;
        background: #262626;
            }
    .header1{  
        position: absolute;
        top:58px;
        right: 0px;
        padding:0px 20px;
    }
    .header2{
        position: absolute;
        top:118px;
        right: 0px;
        padding:0px 20px;
    }
    .header3{
        position: absolute;
        top:178px;
        right: 0px;
        padding:0px 20px;
    }
    .header4{
        position: absolute;
        top:238px;
        right: 0px;
        padding:0px 20px;
    }
    .header5{
        position: absolute;
        top:298px;
        right: 0px;
        padding:0px 20px;
    }
    .burger_btn {
        display: block;
        margin-right: 40px;
            }
    .header.-on ul li{
        display: block;
    
    }
    }
@media screen and (max-width: 991.98px){
    html {
        height:auto;
    }
    body{
        height:auto;
    }
    .bottom{
        display: flex;
        flex-direction: column;
        margin: 5px 0px;
    }
    .bottom-pic{
        width: 100%;
    }
    .bottom-center-text{
        width: 100%;
        text-align: center;
    }
    
}
@media screen and (min-width: 992px) and (max-width: 1199.98px){
    .bottom-pic{
        width: 60%;
    }
    .bottom-center-text{
        width: 40%;
    }
}
