@import url("../../css/reset.css");

*{
    box-sizing: border-box;
}

/* 整體 */
body{
    line-height: 1.2;
    color: #A39572;
    }
.header ul li:last-child a{
    color:orangered;
}

/* 上方 */
.top img{
    height: calc(100vh - 146px);
    width: 100%;
    object-fit: cover; 
    object-position: 50% 50%;
    display: block;
}

/* 表單 */
h2{
    font-weight: bold;
    font-size: 48px;
}
.middle {
    margin: 12px auto;
    font-size: 24px;  
    text-align: center;
}
.middle-text input{
    background-color: #262626;;
    margin-top:20px;
    color:#A39572;
    padding: 20px;
    width: 800px;
    height: 50px;
    outline: none;
    border: none;
}
.middle-message{
    background-color: #262626;;
    margin-top:20px;
    color:#A39572;
    padding: 20px;
    outline: none;
    border: none;
}
.middle-t li{
    display: inline-block;
}

.middle h3{
    margin: 20px auto 0px;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}
.middle h4{
    margin: 20px auto;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}
.submit{
    cursor: pointer;
    color: #A39572;
    background-color: #262626;
    width:100px;
    height:30px;
    font-size: 16px;
    margin-top: 10px;
}

/*  聯絡&地圖  */
.bottom{
    margin: 0 auto;    
    margin-top: 20px;    
}
.bottom-map{
    display: block;
    margin: 20px auto;
}
.bottom-text{
    text-align: center;
    line-height: 2;
}
h3{
    font-size: 24px;
}



/* RWD */
@media screen and (max-width: 575.98px){
    .middle-text input{
        width: 400px;
    }
    .middle-message{
        width: 400px;
    }
    .bottom-map{
        width: 400px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px){
    .middle-text input{
        width: 550px;
    }
    .middle-message{
        width: 550px;
    }
    .middle-t {
        flex-direction: column;
        margin: 0 auto;
    }
    .bottom-map{
        width: 550px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.98px){
    .middle-text input{
        width: 700px;
    }
    .middle-message{
        width: 700px;
    }
    .middle-t{
    flex-direction: column;
    margin: 0 auto;
    }
}
