@import url("/css/reset.css");

*{
    box-sizing: border-box;
}

/* 整體 */
body{
    font-family: 'Noto Serif TC',Serif, Arial, Verdana;
    background-color: #000;
    line-height: 1.2;
    color: #A39572;

    }
a{
    color: #A39572;
    text-decoration: none;    
    }

/*  主選單  */

.header{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #262626;
}
.header img{
    width: 100%;
    height: 40px;
    line-height: 60px;
    margin-left: 20px;
}
.header ul{
    display: flex;
    margin-left: auto; 
    width: 600px;
}
.header li{
    color: #A39572;
    flex-grow: 1;

}
.header li a{
    display: inline;  
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    font-size: 18px;
}
.header li a:hover{
    color:orangered;
}

/* 上方 */
.top img{
    height: 660px;
    width: 100%;
    object-fit: cover; 
    object-position: 50% 0%;
    display: block;
}

/* 中央 */
.middle{
    text-align: center;
    margin-top: 25px;
}
h2{
    font-weight: bold;
    font-size: 48px;
}

/* 攝影行程 */
.bottom img{
    object-fit: cover; 
    object-position: 50% 50%;
    width: 100%;   
    opacity: 60%;
    display: block;
}
.bottom img:hover{ 
    opacity: 100%;
}
.bottom ul{
    text-align: center;
    padding-bottom: 30px;
} 

.bottom li{
    width: 400px;
    display: inline-block;
    margin: 0 50px;
    margin-top: 40px;
    vertical-align:text-bottom;
}    

.bottom li h3{
    text-align: center;
    font-size: 24px;
    margin: 0 20px;
    margin-top: 10px;
    
} 
.text{
    height: 50px;
}




/* 頁尾 */

.footer{
    height: 60px;   
    background-color: #262626;
}

.footer img{
    height: 24px;
    width: 24px;
    filter:contrast(0%);
    vertical-align:text-bottom;
}
.footer img:hover{
    filter:contrast(30%);
}
.footer ul{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.footer li{ 
    padding: 0 12px;
}
.footer li a{
    line-height: 60px;
    font-weight: bold;
    font-size: 18px;  
} 
.footer-1{
    font-size: 12px;
    text-align: center;
    color: #A39572;
    background-color: #262626;
    padding-bottom: 10px;
}


